
<div class="row">

              <h2>MENU</h2>
    <div class="col-lg-2">
        <a [routerLink]="['./called-instructor-list']" > List</a><br>
        <br>
        <a [routerLink]="['./called-instructor-create']" > Create</a> <br>
        <br>
        <a [routerLink]="['./called-instructor-update']" > Update</a> <br>
        <br>
        <a [routerLink]="['./called-instructor-view']" > View</a> <br>
        <br>


    </div>
    <div class="col-lg-10">

        <router-outlet></router-outlet>

    </div>
</div>
