
<h1>Users-List</h1>

<div class="row">
    <div class="col-lg-8">
    <table  class="table table-light">
       <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Password</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>ImageUrl</th>
            <th>Rol</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.usersList">
            <td>{{ item.id }}</td>
            <td>{{ item.login }}</td>
            <td>{{ item.password }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.firstName }}</td>
            <td>{{ item.lastName }}</td>
            <td>{{ item.imageUrl }}</td>
            <td>{{ item.rol }}</td>
            <td>
                <a [routerLink]="['../users-update',item.id]" routerLinkActive="router-link-active" >Update</a>
                <button (click)="deleteItem(item.id)" >Eliminar</button>
            
            </td>
        </tr>
    </tbody>
</table>
<hr>
<div>
    <button (click)="initPagination(i)" *ngFor="let item of listPages; index as i" >{{i+1}}</button>
</div>