<form class="aprendiz" [formGroup]="searchForm">
  <label for="doc">Documento aprendiz</label>

  <p-autoComplete
    formControlName="document"
    [suggestions]="detailUserList"
    (onSelect)="selectedAprendiz($event)"
    (completeMethod)="searchAprendiz($event)"

    field="name"
    [minLength]="3">

    <ng-template let-brand pTemplate="item">
      <div>
        <div>{{brand.documentNumber}} - {{brand.name}}</div>
      </div>
    </ng-template>

    <ng-template let-value pTemplate="selectedItem">
      <span >{{value.id}}</span>
    </ng-template>

  </p-autoComplete>

</form>

<form class="file" [formGroup]="searchForm">
  <label for="fil">Ficha</label>

  <p-autoComplete
    formControlName="code"
    [suggestions]="fileList"
    (onSelect)="selectedFicha($event)"
    (completeMethod)="searchFicha($event)"

    field="code"
    [minLength]="3">

    <ng-template let-brand pTemplate="item">
      <div>
        <div>{{brand.code}} - {{brand.nameProgram}}</div>
      </div>
    </ng-template>

    <ng-template let-value pTemplate="selectedItem">
      <span >{{value.id}}</span>
    </ng-template>

  </p-autoComplete>

</form>
<hr>

<div class="row">
<div class="col-lg-8">
<table  class="table table-striped">
  <thead class="head-personal">
    <tr>

      <th>Numero de Documento</th>
      <th>Nombre</th>
      <th>Ficha</th>
      <th>Tipo de llamado</th>
      <th>Accion</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of this.calledinstructorList">

      <td>{{ item.detailUser.documentNumber}}</td>
      <td>{{ item.detailUser.name}}</td>
      <td>{{ item.file.code}}</td>
      <td>{{ item.calledType}}</td>
      <td>
        <a [routerLink]="['../called-instructor-view']" routerLinkActive="router-link-active" ><i class="pi pi-eye"></i></a>
        <a [routerLink]="['../called-instructor-create']" routerLinkActive="router-link-active" ><i class="pi pi-plus-circle"></i></a>
        <a [routerLink]="['../called-instructor-update']" routerLinkActive="router-link-active" ><i class="pi pi-pencil"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<div class="row justify-content-center">
  <div class="col-lg-10">
    <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" (onPageChange)="loadingPagenation($event)" ></p-paginator>
  </div>
</div>
</div>
</div>
