<div class="row">
  <div class="col-lg-8">
    <table  class="table table-light">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.rolesList">
          <td>{{ item.id }}</td>
          <td>{{ item.description }}</td>
          <td>
              <a [routerLink]="['../roles-update',item.id]" routerLinkActive="router-link-active" >Update</a>
              <button (click)="deleteItem(item.id)" >Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div>
      <button (click)="initPagination(i)" *ngFor="let item of listPages; index as i" >{{i+1}}</button>
    </div>
  </div>
</div>
