.requerido {
    color: red
    }

.alert {
    color: red
}  
.titulos{
    text-align: center;
 
    }  

.selector{
    width: 50%;
    margin: 7em
    }
.formulario{
    margin: 13em;
}   
.button{
    margin: 10em;
    }
