<div class="titulos">
  <h3>LLAMADO DE ATENCION VERBAL</h3>
  <h4>FORMATO DE APOYO</h4>
  <h4>PROCEDIMIENTOS DE EJECUCION INTEGRAL A LA FORMACION </h4>
</div>
<!--Begin called-->


<form [formGroup]="CalledFormGroup" novalidate (ngSubmit)="saveCalled()">

    <div>
      <label for="">Situacion</label>
      <input type="text" name="situation" class="form-control" formControlName="situation">
    </div>


    <div>
      <label for="">Causa</label>
      <input type="text" name="cause" class="form-control" formControlName="cause">
    </div>

    <div>
      <label for="">Impacto</label>
      <input type="text" name="impact" class="form-control" formControlName="impact">
    </div>

    <div>
      <label for="">Efecto</label>
      <input type="text" name="effect" class="form-control" formControlName="effect">
    </div>

    <div>
      <label for="">Compromiso</label>
      <input type="text" name="compromise" class="form-control" formControlName="compromise">
    </div>

    <!--begin selector-->
    <div class="selector">
      <label for="my-input">Tipo de Llamado</label>
      <select id="my-input" formControlName="calledType" class="form-control">
        <option value="ACADEMICO">ACADEMICO</option>
        <option value="ACTITUDINAL">ACTITUDINAL</option>
      </select>
    </div>
  <!--end selector-->

  <div>
    <label for="">id Detail User - Aprendiz</label>
    <input type="text" name="detailUser" class="form-control" formControlName="detailUser">
  </div>

  <div>
    <label for="">id Instructor</label>
    <input type="text" name="instructor" class="form-control" formControlName="instructor">
  </div>

  <div>
    <label for="">id file</label>
    <input type="text" name="file" class="form-control" formControlName="file">
  </div>

  <button type="submit" [disabled]="CalledFormGroup.invalid" class="btn btn-primary btn-sm">Enviar</button>
</form>



 <!--End Called-->



