<div class="titulos">
    <h3>LLAMADO DE ATENCION VERBAL</h3>
    <h4>FORMATO DE APOYO</h4>
    <h4>PROCEDIMIENTOS DE EJECUCION INTEGRAL A LA FORMACION </h4>
    </div>

<!--Begin called-->
    
<h1>UPDATE</h1>
<form [formGroup]="calledFormGroup" novalidate (ngSubmit)="updateCalled()">
     
    <div>
    <label for="">Nombre de aprendiz</label>
    <input type="text" name="name" formControlName="name">
    <div *ngIf="calledFormGroup.get('name').invalid && (calledFormGroup.get('name').dirty || calledFormGroup.get('name').touched)">
    <div *ngIf="calledFormGroup.get('name').errors.required">
    <p class="">Requerido</p>
    </div>
    </div>
    </div>
 
    <div>
    <label for="">Numero de documento</label>
    <input type="text"  formControlName="documentNumber">
    <div *ngIf="calledFormGroup.get('documentNumber').invalid && (calledFormGroup.get('documentNumber').dirty || calledFormGroup.get('documentNumber').touched)">
    <div *ngIf="calledFormGroup.get('documentNumber').errors.required">
    <p class="">Requerido</p>
    </div>
    <div *ngIf="calledFormGroup.get('documentNumber').errors.pattern">
    <p class="error-validate">*El campo debe tener solo números</p>
    </div>
 
    </div>
 
    <div>
    <label for="">correo mi sena</label>
    <input type="text" name="emailSena" formControlName="emailSena">
    <div *ngIf="calledFormGroup.get('emailSena').invalid && (calledFormGroup.get('emailSena').dirty || calledFormGroup.get('emailSena').touched)">
    <div *ngIf="calledFormGroup.get('emailSena').errors.required">
    <p class="">Requerido</p>
    </div>
    <div *ngIf="calledFormGroup.get('emailSena').errors.pattern">
    <p class="error-validate">*Por favor ingrese un correo electrónico del sena</p>
    </div>
    </div>
 
    <div>
    <label for="">correo alterno</label>
    <input type="text" name="emailPersonal" formControlName="emailPersonal">
    <div *ngIf="calledFormGroup.get('emailPersonal').invalid && (calledFormGroup.get('emailPersonal').dirty || calledFormGroup.get('emailPersonal').touched)">
    <div *ngIf="calledFormGroup.get('emailPersonal').errors.required">
    <p class="">Requerido</p>
    </div>
    </div>
    </div>
 
    <div>
    <label for="">File</label>
    <input type="text" name="file" formControlName="File">
    <div *ngIf="calledFormGroup.get('File').invalid && (calledFormGroup.get('File').dirty || calledFormGroup.get('File').touched)">
    <div *ngIf="calledFormGroup.get('File').errors.required">
    <p class="error-validate">*El campo es requerido</p>
    </div>
    <div *ngIf="calledFormGroup.get('File').errors.maxlength">
    <p class="error-validate">*El campo debe tener un máximo de 10 números</p>
    </div>
    </div>
    </div>
 
    <div>
    <label for="">Especialidad</label>
    <input type="text" name="Especialidad">
    </div>
 
    <div>
    <label for="">Proyecto</label>
    <input type="text" name="project">
    </div>
 
 
     <div>
     <label for="">Situation</label>
     <input type="text" name="situation" formControlName="situation">
     <div *ngIf="calledFormGroup.get('situation').invalid && (calledFormGroup.get('situation').dirty || calledFormGroup.get('situation').touched)">
     <div *ngIf="calledFormGroup.get('situation').errors.required">
     <p class="">Requerido</p>
     </div>
     </div>
     </div>
 
     <div>
     <label for="">Cause </label>
     <input type="text" name="cause" disabled>
     </div>
 
     <div>
     <label for="">Impact</label>
     <input type="text" name="impact" disabled>
     </div>
 
     <div>
     <label for="">Effect</label>
     <input type="text" name="effect" disabled>
     </div>
 
 
 
     <div>
     <label for="">Compromise </label>
     <input type="text" name="compromise" disabled>
     </div>
 
     
 
     <div>
     <label for="">Aprendiz</label>
     <input type="text" name="aprendiz">
     </div>
 
     <div>
     <label for="">Instructor</label>
     <input type="text" name="instructor">
     </div>
 

    <button (Click)="updateCalled()" [disabled]="calledFormGroup.invalid">Update</button>


 <!--End Called-->   

    

 
