<h1>UPDATE</h1>
<form [formGroup]="RolFormGroup"  novalidate (ngSubmit)="saveRol()" >

    <div>
        <label for="">Description</label>
        <input type="text" formControlName="description" name="description"  >
        <div *ngIf="RolFormGroup.get('description').invalid &&
        (RolFormGroup.get('description').dirty || RolFormGroup.get('description').touched)  ">
            <div *ngIf="RolFormGroup.get('description').errors.required" >
                <p class="error-validate">El campo es requerido</p>
            </div>
            <div *ngIf="RolFormGroup.get('description').errors.maxlength" >
                <p class="error-validate">El campo debe contener máximo 10 caracteres</p>
            </div>
        </div>

    </div>

    <button type="submit" [disabled]="RolFormGroup.invalid" >Update</button>
</form>
