
<div class="row">
  <div class="col-lg-8">
  <table  class="table table-striped">
    <thead class="head-personal">
      <tr>

        <th>Instructor</th>
        <th>Nombre</th>
        <th>Tipo de Llamado</th>
        <th>Accion</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of this.calledaprendizList">
          
        <td>{{ item.instructor.name}}</td>
        <td>{{ item.detailUser.name}}</td>
        <td>{{ item.calledType}}</td>
        <td><a [routerLink]="['../called-aprendiz-diligenciar']" routerLinkActive="router-link-active" ><i class="pi pi-pencil"></i></a></td>

      </tr>
    </tbody>
  </table>
  <hr>
  <div>
      <p-paginator [rows]="pageSize" [totalRecords]="initPagination"></p-paginator>

  </div>
