<p>VER</p>
<div class="row">
    <div class="col-lg-8">
    <table  class="table table-striped">
      <thead class="head-personal">
        <tr>

          <th>Trimetre</th>
          <th>Fecha</th>
          <th>#Documento</th>
          <th>Nombre</th>
          <th>Ficha</th>
          <th>Instructor</th>
          <th>Tipo de llamado</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.calledinstructorView">

          <td>{{ item.file.program.durationTrimesterLective}}</td>
          <td>{{ item.date}}</td>
          <td>{{ item.detailUser.documentNumber}}</td>
          <td>{{ item.detailUser.name}}</td>
          <td>{{ item.file.code}}</td>
          <td>{{ item.instructor.name}}</td>
          <td>{{ item.calledType}}</td>
          <td>
            <a [routerLink]="['../called-instructor-list']" routerLinkActive="router-link-active" ><i class="pi pi-directions-alt"></i></a>
          </td>

        </tr>
      </tbody>
    </table>
    <hr>
    <div>
        <p-paginator [rows]="pageSize" [totalRecords]="initPagination"></p-paginator>

    </div>

