<!---begin nav-->
<div>
    <nav class="navbar navbar-light navbar-personal">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           <a>SAFI</a>
       </button>
       <i class="fas fa-user-circle"></i>
       <i class="fas fa-clipboard-list"></i>
     </nav>
    </div>
 <!--End nav-->   