
<h1>File-List</h1>
<div class="row">
    <div class="col-lg-8">

<table  class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>WorkingDay</th>
            <th>RolUserFile</th>
            <th>Program</th>
            <th>Project</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.fileList">
            <td>{{ item.id }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.workingday }}</td>
            <td>{{ item.roluserfile }}</td>
            <td>{{ item.program }}</td>
            <td>{{ item.project }}</td>
            <td>
                <a [routerLink]="['../file-update',item.id]" routerLinkActive="router-link-active" >Update</a>
                <button (click)="deleteItem(item.id)" >Eliminar</button>
            
            </td>
        </tr>
    </tbody>
</table>
<hr>
<div>
    <button (click)="initPagination(i)" *ngFor="let item of listPages; index as i" >{{i+1}}</button>
</div>