<p>Diligenciar</p>
  <div class="titulos">
    <h3>LLAMADO DE ATENCION VERBAL</h3>
    <h4>FORMATO DE APOYO</h4>
    <h4>PROCEDIMIENTOS DE EJECUCION INTEGRAL A LA FORMACION </h4>
  </div>
    <!--Begin called-->
    <!--begin selector-->
  <div class="form-group col-md-4">
    <label for="my-input">Tipo de Llamado</label>
    <select id="my-input" formControlName="calledType" class="form-control">
      <option value="ACADEMICO">ACADEMICO</option>
      <option value="ACTITUDINAL">ACTITUDINAL</option>
    </select>
  </div>
    <!--end selector-->

<form [formGroup]="CalledFormGroup" novalidate (ngSubmit)="saveCalled()">

  <div>
    <label for="form-group col-md-6">Nombre de aprendiz</label>
    <input type="text" name="name" class="form-control"  formControlName="name">
    <div *ngIf="CalledFormGroup.get('name').invalid && (CalledFormGroup.get('name').dirty || CalledFormGroup.get('name').touched)">
      <div *ngIf="CalledFormGroup.get('name').errors.required">
        <p class="">Requerido</p>
      </div>
    </div>
  </div>

  <div>
    <label for="form-group col-md-6">Numero de documento</label>
    <input type="text" class="form-control"  formControlName="documentNumber">
      <div *ngIf="CalledFormGroup.get('documentNumber').invalid && (CalledFormGroup.get('documentNumber').dirty || CalledFormGroup.get('documentNumber').touched)">
        <div *ngIf="CalledFormGroup.get('documentNumber').errors.required">
          <p class="">Requerido</p>
        </div>
    </div>
  </div>


  <div>
    <label for="form-group col-md-6">correo mi sena</label>
    <input type="text" name="emailSena" class="form-control" formControlName="emailSena">
    <div *ngIf="CalledFormGroup.get('emailSena').invalid && (CalledFormGroup.get('emailSena').dirty || CalledFormGroup.get('emailSena').touched)">
        <div *ngIf="CalledFormGroup.get('emailSena').errors.required">
          <p class="">Requerido</p>
        </div>
      <div *ngIf="CalledFormGroup.get('emailSena').errors.pattern">
        <p class="error-validate">*Por favor ingrese un correo electrónico del sena</p>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label for="form-group col-md-6">correo mi sena</label>
    <input type="email"  name="emailSena" class="form-control"  placeholder="name@sena.edu.co">
      <div *ngIf="CalledFormGroup.get('emailSena').invalid && (CalledFormGroup.get('emailSena').dirty || CalledFormGroup.get('emailSena').touched)">
        <div *ngIf="CalledFormGroup.get('emailSena').errors.required">
          <p class="">Requerido</p>
        </div>
      </div>
  </div>

  <div>
    <label for="form-group col-md-6">correo alterno</label>
    <input type="text" name="emailPersonal" class="form-control" formControlName="emailPersonal">
    <div *ngIf="CalledFormGroup.get('emailPersonal').invalid && (CalledFormGroup.get('emailPersonal').dirty || CalledFormGroup.get('emailPersonal').touched)">
      <div *ngIf="CalledFormGroup.get('emailPersonal').errors.required">
        <p class="">Requerido</p>
      </div>
    </div>
  </div>


  <div>
    <label for="form-group col-md-6">File</label>
    <input type="text" name="file" class="form-control" formControlName="File">
    <div *ngIf="CalledFormGroup.get('File').invalid && (CalledFormGroup.get('File').dirty || CalledFormGroup.get('File').touched)">
      <div *ngIf="CalledFormGroup.get('File').errors.required">
        <p class="error-validate">*El campo es requerido</p>
      </div>
    </div>
  </div>

  <div for="form-group col-md-6">
    <label for="inputproject4">Especialidad</label>
    <input type="text" class="form-control" name="Especialidad" id="inputproject4">
  </div>

  <div for="form-group col-md-6">
    <label for="inputproject4">Proyecto</label>
    <input type="text" class="form-control" name="project" id="inputproject4">
  </div>


  <div>
    <label for="">Situation</label>
    <input type="text" name="situation" class="form-control" formControlName="situation">
    <div *ngIf="CalledFormGroup.get('situation').invalid && (CalledFormGroup.get('situation').dirty || CalledFormGroup.get('situation').touched)">
      <div *ngIf="CalledFormGroup.get('situation').errors.required">
        <p class="">Requerido</p>
      </div>
    </div>
  </div>

  <div>
    <label for="">Cause </label>
    <input type="text" class="form-control" name="cause" disabled>
  </div>

  <div>
    <label for="">Impact</label>
    <input type="text" class="form-control" name="impact" disabled>
  </div>

  <div>
    <label for="">Effect</label>
    <input type="text" class="form-control" name="effect" disabled>
  </div>

  <div>
    <label for="">Compromise </label>
    <input type="text" class="form-control" name="compromise" disabled>
  </div>



  <div>
    <label for="">Aprendiz</label>
    <input type="text" class="form-control" name="aprendiz">
  </div>

  <div>
    <label for="">Instructor</label>
    <input type="text" class="form-control" name="instructor">
  </div>

  <button type="submit" [disabled]="CalledFormGroup.invalid" class="btn btn-primary btn-sm">Enviar</button>
</form>


    <!--End Called-->



