
<div class="row">
        
              <h2>MENU 1</h2>

    <div class="col-lg-2">
         
        <li><a [routerLink]="['./calledaprendiz-list']" >List</a></li><br>
        <br>
        <li><a [routerLink]="['./called-aprendiz-diligenciar']" >Diligenciar</a></li> <br>
        <br>
        

    </div>
    <div class="col-lg-10">

        <router-outlet></router-outlet>

    </div>
</div>
