<!--begin sidebar-->
<nav class="sidebar">
    <div class="text">MENU PRINCIPAL</div>
    <ul>
        <li>
            <a href="#">LLAMADOS </a>
            <ul>
                <li><a [routerLink]="['called-instructor/main-instructor']" >INSTRUCTOR</a></li>
                <li><a [routerLink]="['called-aprendiz/main-aprendiz']" >APRENDIZ</a></li>
            </ul>
        </li>
    </ul>
</nav>
<!--End sidebar-->
