<p>sidebar works!</p>

<nav class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./called-instructor-list']">Listar llamados - Instruc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['./called-instructor-create']">Crear llamados - Instruc</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disable" href="#" tabindex="-1" aria-disabled="true">Disable</a>
        </li>
    </ul>

    <div class="toggle-button-sidebar">
        <fa-icon icon="angle-double-left"></fa-icon>
        <fa-icon icon="angle-double-right"></fa-icon>
    </div>
</nav>